@font-face {
   font-family: myFirstFont;
   src: url(../File/setofont.ttf);
}

* {
   font-family: myFirstFont;
}

body {
    background-color: #0e5fb3; /* Set background color */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margins */
    text-align: center;
}
table {

    border-collapse: collapse;
    text-align: center;
    cursor:pointer;
    width: 100%;
    height: 100vh;
}

td:first-child { 
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

td, th {
    
    font-size: 4vh; /* Adjust the text size */
    padding: 0;   /* Increase padding */
    text-align: center; /* Ensure center alignment */
    vertical-align: middle; /* Keep text centered */
    border: 10px solid #fdd308;
    color: white;
    background-color: #b91413;

}
.center {
    text-align: center;
    font-weight: bold;
    background-color: #2d9338
}
.main {

    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;


}