body {
    background-color: #FFF; /* Set background color */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margins */
    text-align: center;
}
table {

    border-collapse: collapse;
    text-align: center;
    cursor:pointer;
    width: 100%;
    height: 100vh;
}

td:first-child { 
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

td, th {
    
    font-size: 4vh; /* Adjust the text size */
    padding: 0;   /* Increase padding */
    text-align: center; /* Ensure center alignment */
    vertical-align: middle; /* Keep text centered */
    border: 5px solid #d62d15;
    color: #024593;
    background-color: white;
    font-weight: bold;
}
.center {
    text-align: center;
    font-weight: bold;
    background-color: #2d9338
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.popupA {

    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2d9338;
    padding: 20px;
    border: 2px solid black;
    display: none;
}
.hidden {
    display: none;
}
.popupb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(255, 255, 255, 1);
    color: black;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}