body {
    background-color: #2d9338; /* Set background color */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margins */
    text-align: center;
}
table {
    max-width: calc(100vw - 25px); /* If portrait mode */
    max-height: calc(100vh - 25px); /* If landscape mode */
    border-collapse: collapse;
    text-align: center;
    cursor:pointer;
    width: 100%;
    height: 100vh;
}

td:first-child { 
    height: 10vh;
    text-align: center;
    vertical-align: middle;
}

td, th {
    
    font-size: 4vh; /* Adjust the text size */
    padding: 0;   /* Increase padding */
    text-align: center; /* Ensure center alignment */
    vertical-align: middle; /* Keep text centered */
    border: 5px solid #d62d15;
    color: #024593;
    background-color: white;
    font-weight: bold;
}
.center {
    text-align: center;
    font-weight: bold;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

